
.btn-round {
    align-self: flex-start;
    font-family: 'Lato', sans-serif;
    color: var(--clr4);
    background-color: transparent;
    border: 0.125em solid var(--clr4);
    border-radius: 2em;
    font-weight: 700;
    font-size: 1em;
    padding: 0 1.4em;
    line-height: 2.5em;
}

.btn-round:hover {
    cursor: pointer;
    color: var(--clr2);
    border-color: var(--clr2);
}

.btn-arrow {
    position: relative;
    transition: padding .4s;
}

.btn-arrow:hover {
    padding-inline-end: 2.6em;
}

.btn-arrow:hover::after {
    content: "→";
    position: absolute;
    right: 0.875em;
}