.top-header {
    background-color: var(--clr1);
    color: white;
    box-shadow: inset 0px -6px 0px #000;
}

.top-header .nav-bar li {
    border-inline-end: 1px solid #000;
}

.top-header .nav-bar li:first-child {
    border-inline-start: 1px solid #000;
}

.top-header .nav-bar a {
    color: white;
    /* height: 130px;
    width: 130px; */
    display: flex;
    justify-content: center;
    align-items: center;

    transition: box-shadow .4s;
}

.top-header .nav-bar a:hover {
    box-shadow: inset 0px -6px 0px var(--clr2);
}

.top-header .nav-bar a.active {
    box-shadow: inset 0px -6px 0px var(--clr2);
    color: var(--clr2);
    cursor: default;
}

/* .top-header .nav-bar>*:not(:last-child) {
    margin-inline-end: 5rem;
} */

.top-header button {
    font-size: 1.7rem;
    padding: .5rem;
    border: none;
    background-color: var(--clr3);
    display: none;
}