/* MOBILE */
@media screen and (max-width: 820px) {
  .main-screen {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 70%);
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.8s;
    z-index: 1;
  }

  body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
  }

  .top-header {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
  }

  .top-header .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }

  .nav-bar {
    position: absolute;
    flex-direction: column;
    top: 60px;
    width: 100%;
    border-inline-start: 1px solid var(--clr4);
    background-color: rgb(128 128 128 / 90%);
    font-size: 1.5em;
    transition: max-height 0.5s;
    opacity: 1;
    left: 0;

    max-height: 0;
    overflow: hidden;
    transform-origin: top;
    justify-content: flex-end;
  }

  body.menu-open .nav-bar {
    /* box-shadow: 0 3px 6px 0 var(--clr2); */
    max-height: 100vh;
    transform: translateY(0);
  }

  .nav-bar li {
    border-bottom: 1px solid var(--clr4);
  }

  .nav-bar a {
    padding: 1em;
  }

  .card {
    flex-direction: column;
    margin-bottom: 5rem;
    flex-basis: 100%;
    padding: 1em;
    box-shadow: 0 3px 6px 0 #000;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .card .card-img {
    margin: 0 0 1em;
    width: 100%;
  }

  .footer {
    text-align: center;
    justify-content: space-between;
  }

  .footer p {
    line-height: 2rem;
  }

  .footer .social-links {
    margin-bottom: 2rem;
  }
}

/* SMALL */
@media screen and (min-width: 820px) {
  html {
    font-size: 13px;
  }

  .main-layout {
    max-width: 780px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .top-header .nav-bar a {
    width: 100px;
    height: 100px;
  }
}

/* WIDE */
@media screen and (min-width: 1020px) {
  html {
    font-size: 16px;
  }

  .main-layout {
    max-width: 980px;
  }

  .top-header .nav-bar a {
    height: 130px;
    width: 130px;
  }
}
