.flex {
  display: flex;
  justify-content: end;
}

.email-list {
  margin: 15px;
}

.date-mail {
  margin-top: 3px;
  position: absolute;
  right: 3em;
  font-size: medium;
  font-weight: bold;
}

.date-mail-container {
  display: flex;
  width: 100%;
}

.e-preview-container-section {
  position: relative;

}

.email-preview-container {
  margin-top: 0;
  min-height: 50px;
  width: 90vw;
  border: 2px solid rgb(171, 171, 171);
  background-color: rgb(200, 221, 230);
}

.email-preview-container  .name-email{
  margin-right: 2em;
  font-size: medium;
  font-weight: bold;
}


.email-preview-container .sub-email {
  font-size: medium;
  font-weight: bold;
}

.mail {
  margin-left: 20px;
  margin-top: 0;
  font-size: 25px;
  width: 70vw;
  display: block;
}

.text-body {
 
  padding: 0;
  height: 17.78px;
  font-size: 15px;
}

.img-user {
  display: none;
}

.read-mail {
  font-weight: normal;
}
