

.flex {
  display: flex;
  justify-content: end;
}

.email-list {
  margin: 15px;
}

.date-mail {
  position: absolute;
  right: 0;
  font-size:medium;
  font-weight: bold;
}

.date-mail-container {
  display: flex;
  width: 100%;
}

.email-preview-container-section {
  position: relative;
}

.email-preview-container {
  margin-top: 0;
  border: 2px solid rgb(171, 171, 171);
  background-color: rgb(200, 221, 230);
}

.email-preview-container .name-email{
  margin-right: 2em;
  font-size:medium;
  font-weight: bold;
}

.email-preview-container .sub-email{
  font-size:medium;
  font-weight: bold;
}

.mail {
  margin-top: 0;
  font-size: medium;
  width: 70vw;
  display: block;
}

.detailsE {
  position: relative;
  color: black;
  text-decoration: none;
  text-transform: none;
}

.detailsE > * {
  margin-inline-end: 0.5rem;
}

.text-body {
  /* display: flex; */
  /* margin-right: 10rem; */
  /* justify-content: end; */
  padding: 0;
  height: 17.78px;
  font-size: smaller;
}

.img-user {
  display: none;
}
