header {
  background-color: whitesmoke;
  z-index: 1;
  width: 100%;
  /* position: fixed; */
  transition: 0.5s ease all;
  color: white;
}

nav {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 12px 0;
  transition: 0.5s ease all;
  width: 90%;
  margin: 0 auto;
}

ul,
.link {
  color: white;
  list-style: none;
  text-decoration: none;
}

.navigation li {
  text-transform: uppercase;
  padding: 16px;
  margin-left: 16px;
}

.link {
  font-size: 20px;
  transition: 0.5s ease all;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.link:hover {
  color: #00afea;
  border-color: #00afea;
}

.branding {
  display: flex;
  align-items: center;
}

.branding a{
  height: 80px; 
  width: 200px;
}

.branding img{
  height: 90px;
  width: 230px;
  margin-top: -10px;
}

img {
  width: 50px;
  transition: 0.5s ease all;
}

.navigation {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: end;
}

.icon {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  right: 24px;
  height: 100%;
}

span {
  cursor: pointer;
  font-size: 24px;
  transition: 0.8s ease all;
}

.icon-active {
  transform: rotate(180deg);
}

.dropdown-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: 200px;
  background-color: #a9a9a9f4;
  border-radius: 20px;
  padding: 5px;
  top: 110px;
  right: -30px;
  z-index: 2;
}

.mobile-nav-enter-active,
.mobile-nav-leave-active {
  transition: 1s ease all;
}

.mobile-nav-enter-from,
.mobile-nav-leave-to {
  transform: translateX(45px);
}

.mobile-nav-enter-to {
  transform: translateX(0);
}

.dropdown-nav li {
  margin-left: 0;
}

.dropdown-nav li .link {
  color: black;
}

.dropdown-nav li i {
  color: black;
}
/* i{
    color:black
} */
