/* .note-details {
} */

.modal-mask {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  border-radius: 10px;
}

.modal-container {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.note {
  border-radius: 10px;
}

.note img {
  border-radius: 10px 10px 0 0;
}

.note iframe {
  border: none;
  width: 100%;
}

.video {
  border-radius: 10px 10px 0 0;
}
